<%= form_for @fesu do |f| %>
 
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>　
 
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>