<!-- Products Area Start Here -->
<section class="bg-body s-space-default">
    <div class="container">
        <div class="section-title-dark">
            <h2>フェス一覧</h2>
        </div>
    </div>
    <div class="container" id="isotope-container" >
        <div id="category-view" class="category-grid-layout2">
            <div class="row featuredContainer">
            <%# フェス一覧 %>
                <% @fesus.each do |fesu| %>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="product-box item-mb zoom-gallery">
                        <div class="item-mask-wrapper">
                            <div class="item-mask bg-box"><img src="<%= fesu.photo %>" alt="fesu photo" class="img-fluifd">
                                <div class="trending-sign" data-tips="Featured"> <i class="fa fa-bolt" aria-hidden="true"></i> </div>
                                <div class="title-ctg"><%= fesu.category %></div>
                                <ul class="info-link">
                                    <li><a href="<%= fesu.photo %>" class="elv-zoom" data-fancybox-group="gallery" title="Title Here"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a></li>
                                    <li><a href="<%= "/fesus/#{fesu.id}" %>"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="symbol-featured"><img src="img/banner/symbol-featured.png" alt="symbol" class="img-fluid"> </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="title-ctg">Clothing</div>
                            <h3 class="short-title"><a href="single-product1.html"><%= link_to(fesu.title, "/fesus/#{fesu.id}") %></a></h3>
                            <h3 class="long-title"><a href="single-product1.html">Men's Basic Cotton T-Shirt</a></h3>
                            <ul class="upload-info">
                                <li class="date"><i class="fa fa-clock-o" aria-hidden="true"></i><%= fesu.date %></li>
                                <li class="place"><i class="fa fa-map-marker" aria-hidden="true"></i><%= fesu.place %></li>
                                <li class="tag-ctg"><i class="fa fa-tag" aria-hidden="true"></i>Clothing</li>
                            </ul>
                            <p>hogehogehoge</p>
                            <%# <div class="price">¥17,000</div> %>
                            <a href="single-product-layout1.html" class="product-details-btn">Details</a>
                        </div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

