<div class="jumbotron">

  <%= render :partial => "search_form" %>

</div>

<div class="jumbotron">
  <%= "スケジュールで探す "%>
  <%= link_to "日付" ,"#" %>
</div>

<div class="jumbotron">
  <%= "カテゴリーで探す "%>
  <%= link_to image_tag("fes.png", alt: "fes"), '#' %>
  <%= link_to image_tag("niku.png", alt: "fes"), '#' %>
  <%= link_to image_tag("omaturi.png", alt: "fes"), '#' %>
</div>


<%= render :partial => "fesus/list" %>

