<!-- Header Area Start Here -->
<header>
    <div id="header-three" class="header-style1 header-fixed">
        <div class="main-menu-area bg-white" id="sticker">
            <div class="container">
                <div class="row no-gutters d-flex align-items-center">
                    <div class="col-lg-2 col-md-2 col-sm-3">
                        <div class="logo-area">
                            <a href="/" class="img-fluid">
                                <img src="/img/fesuru_logo_2.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 possition-static">
                        <div class="cp-main-menu">
                            <nav>
                                <ul>
                                    <li><a href="/">ホーム</a></li>
                                    <li><a href="/about">フェスルとは</a></li>
                                    <li><a href="/fesus/index">フェス一覧</a></li>
                                    <li><a href="/#category">カテゴリー一覧</a></li>
                                    <% if logged_in? %>
                                      <li><%= link_to "ユーザー", users_path %></li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">アカウント<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                          <li><%= link_to "プロフィール", current_user %></li>
                                          <li><%= link_to "設定", edit_user_path(current_user) %></li>
                                          <li class="divider"></li>
                                          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                                        </ul>
                                      </li>
                                    <% else %>
                                      <li><%= link_to "サインアップ", signup_path %></li>
                                      <li><%= link_to "ログイン", login_path %></li>
                                    <% end %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--
                    <div class="col-lg-2 col-md-2 col-sm-3 text-right">
                        <a href="#" class="cp-default-btn">マイページ</a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area Start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="/">ホーム</a></li>
                                <li><a href="/about">フェスルとは</a></li>
                                <li><a href="/fesus/index">フェス一覧</a></li>
                                <li><a href="/#category">カテゴリー一覧</a></li>
                                <% if logged_in? %>
                                  <li><%= link_to "ユーザー", users_path %></li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">アカウント<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                      <li><%= link_to "プロフィール", current_user %></li>
                                      <li><%= link_to "設定", edit_user_path(current_user) %></li>
                                      <li class="divider"></li>
                                      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                                    </ul>
                                  </li>
                                <% else %>
                                  <li><%= link_to "サインアップ", signup_path %></li>
                                  <li><%= link_to "ログイン", login_path %></li>
                                <% end %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End -->
</header>
<!-- Header Area End Here -->